In [1]:
from IPython.display import display

from io import StringIO
import itertools
from matplotlib import pyplot as plt
import numpy as np
import os
import pandas as pd

from mosek.fusion import Model, Domain, Expr, ObjectiveSense, SolutionStatus

In [2]:
supply = pd.read_csv('20201007_da_co.processed.csv').set_index('id')
nsupply = len(supply)
supply.loc[supply['offer ($/MW)'] <= 0., 'capacity (MW)'] /= 1.
print(supply.shape)
supply.head()

(3617, 3)

            node  capacity (MW)  offer ($/MW)
id
A3153_0    North            1.0          8.16
A3153_1    North          245.0          9.54
A3153_2    North            1.0         14.27
A3153_3    North           72.0         14.28
A3165_0  Central          180.0         10.77

In [3]:
nodes = list(supply['node'].unique())
nnodes = len(nodes)
print(nodes)

['North', 'Central', 'South']

In [4]:
demand = pd.read_csv('20201007_bids_cb.processed.csv').set_index('id')
ndemand = len(demand)
assert demand.node.isin(nodes).all()
print(demand.shape)
demand.head()

(309, 3)

              node  demand (MW)  bid ($/MW)
id
122073561    North          6.0      2000.0
767746013    North         14.0      2000.0
122073033  Central       1228.0      2000.0
122073042    North       1644.0      2000.0
450523929  Central        132.4      2000.0

In [5]:
demand.groupby(demand['bid ($/MW)'] >= 2000)['node'].count()

bid ($/MW)
False     41
True     268
Name: node, dtype: int64

In [6]:
lines = pd.DataFrame([
    ['%s-%s' % (src, dest), src, dest, 5e3, 1e5] 
    for src, dest in itertools.combinations(nodes, 2)
], columns=['id', 'source', 'dest', 'capacity (MW)', 'susceptance (S)']).set_index('id')
nlines = len(lines)
lines

                source     dest  capacity (MW)  susceptance (S)
id
North-Central    North  Central         5000.0         100000.0
North-South      North    South         5000.0         100000.0
Central-South  Central    South         5000.0         100000.0

In [7]:
pd.concat([demand.groupby('node')[['demand (MW)']].sum(),
           supply.groupby('node')[['capacity (MW)']].sum()], axis='columns')

         demand (MW)  capacity (MW)
node
Central      28181.2        85287.0
North        12854.2        52353.8
South        16425.5        47877.5

In [8]:
M = Model('power')

log = StringIO()
M.setLogHandler(log)
theta = M.variable('theta', nnodes, Domain.inRange(
    [0.] + [-np.pi] * (nnodes - 1), 
    [0.] + [np.pi] * (nnodes - 1), 
))
pD = M.variable('pD', ndemand, Domain.inRange(0., demand['demand (MW)'].values))
pG = M.variable('pG', nsupply, Domain.inRange(0., supply['capacity (MW)'].values))
lambdaD = demand['bid ($/MW)'].values
lambdaG = supply['offer ($/MW)'].values

line_constraints = Domain.inRange(-lines['capacity (MW)'].values, 
                                  lines['capacity (MW)'].values)
line_flows = M.variable('flows', nlines, line_constraints)
src_idx = [nodes.index(x) for x in lines.source]
dst_idx = [nodes.index(x) for x in lines.dest]
phase_diff = Expr.sub(theta.pick(src_idx), theta.pick(dst_idx))
phase_flow = M.constraint(Expr.sub(line_flows, 
                                  Expr.mulElm(lines['susceptance (S)'].values, phase_diff)),
                         Domain.equalsTo(0.))
node_balance_eqs = []
for node in nodes:
    supply_idx = np.flatnonzero(supply.node == node).astype('int32')
    node_supply = Expr.sum(pG.pick(supply_idx))
    demand_idx = np.flatnonzero(demand.node == node).astype('int32')
    node_demand = Expr.sum(pD.pick(demand_idx))
    balance = Expr.sub(node_demand, node_supply)
    direction = [1 if line.source == node else 
                 -1 if line.dest == node else 
                 0 for line_idx, line in lines.iterrows()]
    balance = Expr.add(balance, Expr.dot(direction, line_flows))
    balance_eq = M.constraint(node + 'balance', balance, Domain.equalsTo(0.))
    node_balance_eqs.append(balance_eq)

obj = Expr.sub(Expr.dot(lambdaD, pD), Expr.dot(lambdaG, pG))
M.objective('obj', ObjectiveSense.Maximize, obj)
M.solve()

if M.getPrimalSolutionStatus() != SolutionStatus.Optimal:
    M.writeTask('proj1.opf')

demand['consumed (MW)'] = pD.level()
supply['supplied (MW)'] = pG.level()
lines['flow (MW)'] = line_flows.level()
buses = pd.DataFrame({
    'volt. angle (rad)': theta.level(),
    'node price ($/MW)': [e.dual()[0] for e in node_balance_eqs]
}, index=nodes)

In [9]:
summary = pd.concat([
    buses['node price ($/MW)'],
    demand.groupby('node')['consumed (MW)'].sum(),
    supply.groupby('node')['supplied (MW)'].sum(),
], axis=1)
summary.columns = ['price ($/MW)', 'consumed (MW)', 'supplied (MW)']
display(summary)
print(summary.to_latex())

         price ($/MW)  consumed (MW)  supplied (MW)
North           -0.00        12854.2        22854.2
Central         11.84        28178.1        23178.1
South           11.32        16367.5        11367.5

\begin{tabular}{lrrr}
\toprule
{} &  price (\$/MW) &  consumed (MW) &  supplied (MW) \\
\midrule
North   &         -0.00 &        12854.2 &        22854.2 \\
Central &         11.84 &        28178.1 &        23178.1 \\
South   &         11.32 &        16367.5 &        11367.5 \\
\bottomrule
\end{tabular}

In [10]:
print('Energy scheduled: {:g}'.format(demand['consumed (MW)'].sum()))
print('Objective value: {:g}'.format(M.primalObjValue()))
display(lines)
display(buses)
display(demand.sort_values('bid ($/MW)'))
display(supply.sort_values('offer ($/MW)'))

Energy scheduled: 57399.8
Objective value: 1.13911e+08

                source     dest  capacity (MW)  susceptance (S)  flow (MW)
id
North-Central    North  Central         5000.0         100000.0     5000.0
North-South      North    South         5000.0         100000.0     5000.0
Central-South  Central    South         5000.0         100000.0        0.0

         volt. angle (rad)  node price ($/MW)
North                 0.00              -0.00
Central              -0.05              11.84
South                -0.05              11.32

                 node  demand (MW)  bid ($/MW)  consumed (MW)
id
1656071284      South         58.0        4.21            0.0
1656072147_0    South         27.0       11.33           27.0
122073523_7   Central          3.1       11.47            0.0
122073523_6   Central          3.1       11.99            3.1
122073523_5   Central          3.1       12.51            3.1
...               ...          ...         ...            ...
816860633     Central          5.0     2000.00            5.0
1601140898    Central          3.0     2000.00            3.0
1066937520    Central         30.0     2000.00           30.0
2226459481    Central         41.0     2000.00           41.0
3554572649    Central         56.3     2000.00           56.3

[309 rows x 4 columns]

             node  capacity (MW)  offer ($/MW)  supplied (MW)
id
A14605_0    North            1.0         -50.0            1.0
A6994_0     North            1.0         -50.0            1.0
A7548_0     North            1.0         -50.0            1.0
A6027_0     North            1.0         -50.0            1.0
A6999_0     North            1.0         -50.0            1.0
...           ...            ...           ...            ...
A14896_1    North           69.0         999.0            0.0
A14517_1  Central           19.0         999.0            0.0
A12762_1    North           23.0         999.0            0.0
A6606_1     North           11.0         999.0            0.0
A15765_1  Central           32.0         999.0            0.0

[3617 rows x 4 columns]

In [11]:
print(log.getvalue())

MOSEK warning 705: #1 (nearly) zero elements are specified in sparse row ''(3) of matrix 'A'.
MOSEK warning 705: #1 (nearly) zero elements are specified in sparse row ''(4) of matrix 'A'.
MOSEK warning 705: #1 (nearly) zero elements are specified in sparse row ''(5) of matrix 'A'.
Problem
  Name                   : power
  Objective sense        : max
  Type                   : LO (linear optimization problem)
  Constraints            : 6
  Cones                  : 0
  Scalar variables       : 3933
  Matrix variables       : 0
  Integer variables      : 0

Optimizer started.
Presolve started.
Linear dependency checker started.
Linear dependency checker terminated.
Eliminator started.
Freed constraints in eliminator : 2
Eliminator terminated.
Eliminator started.
Freed constraints in eliminator : 0
Eliminator terminated.
Eliminator - tries                  : 2                 time                   : 0.00
Lin. dep.  - tries                  : 1                 time                   : 0.00
Lin. dep.  - number                 : 0
Presolve terminated. Time: 0.00
Problem
  Name                   : power
  Objective sense        : max
  Type                   : LO (linear optimization problem)
  Constraints            : 6
  Cones                  : 0
  Scalar variables       : 3933
  Matrix variables       : 0
  Integer variables      : 0

Optimizer  - threads                : 6
Optimizer  - solved problem         : the primal
Optimizer  - Constraints            : 4
Optimizer  - Cones                  : 0
Optimizer  - Scalar variables       : 2294              conic                  : 0
Optimizer  - Semi-definite variables: 0                 scalarized             : 0
Factor     - setup time             : 0.00              dense det. time        : 0.00
Factor     - ML order time          : 0.00              GP order time          : 0.00
Factor     - nonzeros before factor : 10                after factor           : 10
Factor     - dense dim.             : 0                 flops                  : 4.65e+03
ITE PFEAS    DFEAS    GFEAS    PRSTATUS   POBJ              DOBJ              MU       TIME
0   2.8e+07  2.0e+06  7.2e+07  0.00e+00   -7.255486900e+04  -4.065790000e+02  1.0e+06  0.00
1   2.1e+07  1.5e+06  5.4e+07  -9.99e-01  -5.316093369e+04  1.896873458e+04   7.5e+05  0.01
2   1.8e+07  1.3e+06  4.5e+07  -9.98e-01  7.523361509e+03   7.961539111e+04   6.3e+05  0.01
3   1.4e+07  1.0e+06  3.7e+07  -9.95e-01  1.844210449e+05   2.564067530e+05   5.1e+05  0.01
4   8.4e+06  6.1e+05  2.2e+07  -9.89e-01  9.570370706e+05   1.028531003e+06   3.0e+05  0.01
5   5.6e+06  4.0e+05  1.4e+07  -9.66e-01  2.355321231e+06   2.425924912e+06   2.0e+05  0.01
6   4.4e+06  3.1e+05  1.1e+07  -9.30e-01  3.717930991e+06   3.787669447e+06   1.6e+05  0.01
7   2.4e+06  1.7e+05  6.3e+06  -8.99e-01  8.730599532e+06   8.797156065e+06   8.7e+04  0.01
8   1.5e+06  1.1e+05  3.9e+06  -7.94e-01  1.587733805e+07   1.593936416e+07   5.4e+04  0.01
9   1.2e+06  8.4e+04  3.0e+06  -6.52e-01  2.071416800e+07   2.077313057e+07   4.2e+04  0.01
10  7.9e+05  5.7e+04  2.1e+06  -5.59e-01  3.001899473e+07   3.007206405e+07   2.8e+04  0.01
11  5.4e+05  3.9e+04  1.4e+06  -3.90e-01  4.082389147e+07   4.087012072e+07   1.9e+04  0.01
12  2.9e+05  2.1e+04  7.4e+05  -1.98e-01  6.050451189e+07   6.053828736e+07   1.0e+04  0.01
13  1.9e+05  1.3e+04  4.8e+05  1.47e-01   7.307172252e+07   7.309754849e+07   6.7e+03  0.01
14  1.1e+05  8.0e+03  2.9e+05  3.58e-01   8.610566645e+07   8.612324897e+07   4.0e+03  0.01
15  5.1e+04  3.7e+03  1.3e+05  5.74e-01   9.955324921e+07   9.956232761e+07   1.8e+03  0.01
16  1.2e+04  9.0e+02  3.2e+04  7.88e-01   1.100947010e+08   1.100971137e+08   4.5e+02  0.01
17  4.4e+03  3.1e+02  1.1e+04  9.50e-01   1.125498117e+08   1.125506722e+08   1.6e+02  0.01
18  1.8e+03  1.3e+02  4.6e+03  9.84e-01   1.133553126e+08   1.133556639e+08   6.4e+01  0.01
19  2.1e+02  1.5e+01  5.4e+02  9.93e-01   1.138457167e+08   1.138457579e+08   7.5e+00  0.01
20  6.4e+01  4.6e+00  1.6e+02  9.99e-01   1.138909935e+08   1.138910061e+08   2.3e+00  0.01
21  8.5e+00  6.1e-01  2.2e+01  1.00e+00   1.139082394e+08   1.139082410e+08   3.1e-01  0.01
22  5.1e-02  3.7e-03  2.2e-01  1.00e+00   1.139108876e+08   1.139108877e+08   1.9e-03  0.01
23  5.1e-02  3.7e-03  2.2e-01  1.75e+00   1.139108876e+08   1.139108877e+08   1.9e-03  0.01
24  5.1e-02  3.7e-03  2.2e-01  1.61e+00   1.139108876e+08   1.139108877e+08   1.9e-03  0.01
25  5.1e-02  3.7e-03  2.2e-01  1.61e+00   1.139108876e+08   1.139108877e+08   1.9e-03  0.01
Basis identification started.
Primal basis identification phase started.
Primal basis identification phase terminated. Time: 0.00
Dual basis identification phase started.
Dual basis identification phase terminated. Time: 0.00
Basis identification terminated. Time: 0.00
Optimizer terminated. Time: 0.03


Interior-point solution summary
  Problem status  : PRIMAL_AND_DUAL_FEASIBLE
  Solution status : OPTIMAL
  Primal.  obj: 1.1391088765e+08    nrm: 5e+03    Viol.  con: 2e-03    var: 2e-07
  Dual.    obj: 1.1391090338e+08    nrm: 2e+03    Viol.  con: 0e+00    var: 3e-04

Basic solution summary
  Problem status  : PRIMAL_AND_DUAL_FEASIBLE
  Solution status : OPTIMAL
  Primal.  obj: 1.1391090377e+08    nrm: 5e+03    Viol.  con: 9e-12    var: 6e-13
  Dual.    obj: 1.1391090377e+08    nrm: 2e+03    Viol.  con: 0e+00    var: 0e+00

In [12]:
supply.query('`offer ($/MW)` <= 0.').groupby('node')[['capacity (MW)', 'supplied (MW)']].sum()

         capacity (MW)  supplied (MW)
node
Central        14683.6        14683.6
North          27189.0        22854.2
South            239.5          239.5

In [13]:
supply.query('`offer ($/MW)` > 0.').groupby('node')[['capacity (MW)', 'supplied (MW)']].sum()

         capacity (MW)  supplied (MW)
node
Central        70603.4         8494.5
North          25164.8            0.0
South          47638.0        11128.0

In [14]:
demand.query('`bid ($/MW)` <= 0.').groupby('node')[['demand (MW)', 'consumed (MW)']].sum()

Empty DataFrame
Columns: [demand (MW), consumed (MW)]
Index: []

In [15]:
demand.query('`bid ($/MW)` > 0.').groupby('node')[['demand (MW)', 'consumed (MW)']].sum()

         demand (MW)  consumed (MW)
node
Central      28181.2        28178.1
North        12854.2        12854.2
South        16425.5        16367.5