In [1]:
from IPython.display import display

from io import StringIO
import itertools
from matplotlib import pyplot as plt
import numpy as np
import os
import pandas as pd

from mosek.fusion import Model, Domain, Expr, ObjectiveSense, SolutionStatus

In [2]:
supply = pd.read_csv('20201007_da_co.processed.csv').set_index('id')
nsupply = len(supply)
print(supply.shape)
supply['offer ($/MW)'] = np.maximum(supply['offer ($/MW)'], 0.)
supply.head()

(3617, 3)

            node  capacity (MW)  offer ($/MW)
id
A3153_0    North            1.0          8.16
A3153_1    North          245.0          9.54
A3153_2    North            1.0         14.27
A3153_3    North           72.0         14.28
A3165_0  Central          180.0         10.77

In [3]:
nodes = list(supply['node'].unique())
nnodes = len(nodes)
print(nodes)

['North', 'Central', 'South']

In [4]:
demand = pd.read_csv('20201007_bids_cb.processed.csv').set_index('id')
demand.drop('1656071284', inplace=True)
assert demand.node.isin(nodes).all()
ndemand = len(demand)
print(demand.shape)
MAX_BID = 25.
demand['bid ($/MW)'] = np.minimum(demand['bid ($/MW)'], MAX_BID)
demand.head()

(308, 3)

              node  demand (MW)  bid ($/MW)
id
122073561    North          6.0        25.0
767746013    North         14.0        25.0
122073033  Central       1228.0        25.0
122073042    North       1644.0        25.0
450523929  Central        132.4        25.0

In [5]:
demand.groupby(demand['bid ($/MW)'] >= MAX_BID)['node'].count()

bid ($/MW)
False     15
True     293
Name: node, dtype: int64

In [6]:
lines = pd.DataFrame([
    ['%s-%s' % (src, dest), src, dest, 5e3, 1e5] 
    for src, dest in itertools.combinations(nodes, 2)
], columns=['id', 'source', 'dest', 'capacity (MW)', 'susceptance (S)']).set_index('id')
nlines = len(lines)
lines

                source     dest  capacity (MW)  susceptance (S)
id
North-Central    North  Central         5000.0         100000.0
North-South      North    South         5000.0         100000.0
Central-South  Central    South         5000.0         100000.0

In [7]:
rev_lines = lines.copy()
rev_lines.source = lines.dest
rev_lines.dest = lines.source
bi_lines = pd.concat([lines, rev_lines]).set_index(['source', 'dest'])
n_bi_lines = len(bi_lines)
bi_lines

                 capacity (MW)  susceptance (S)
source  dest
North   Central         5000.0         100000.0
        South           5000.0         100000.0
Central South           5000.0         100000.0
        North           5000.0         100000.0
South   North           5000.0         100000.0
        Central         5000.0         100000.0

In [8]:
pd.concat([demand.groupby('node')[['demand (MW)']].sum(),
           supply.groupby('node')[['capacity (MW)']].sum()], axis='columns')

         demand (MW)  capacity (MW)
node
Central      28181.2        85287.0
North        12854.2        52353.8
South        16367.5        47877.5

In [9]:
M = Model('dual')

log = StringIO()
M.setLogHandler(log)

muD = M.variable('muD', ndemand, Domain.greaterThan(0.))
muG = M.variable('muG', nsupply, Domain.greaterThan(0.))
etaup = M.variable('etaup', n_bi_lines, Domain.greaterThan(0.))
etadown = M.variable('etadown', n_bi_lines, Domain.greaterThan(0.))
lambdaN = M.variable('lambdaN', nnodes, Domain.unbounded())
gamma = M.variable('gamma', 1, Domain.unbounded())

demand_idx = [nodes.index(x) for x in demand.node]
dldpd = Expr.sub(muD, demand['bid ($/MW)'].values)
dldpd = Expr.add(dldpd, lambdaN.pick(demand_idx))
pd_const = M.constraint('dldpd', dldpd, Domain.greaterThan(0.))

supply_idx = [nodes.index(x) for x in supply.node]
dldpg = Expr.add(muG, supply['offer ($/MW)'].values)
dldpg = Expr.sub(dldpg, lambdaN.pick(supply_idx))
pg_const = M.constraint('dldpg', dldpg, Domain.greaterThan(0.))

theta_eqs = []
for n, n_node in enumerate(nodes):
    if n == 0:
        dldtheta = gamma
    else:
        dldtheta = Expr.zeros(1)
    for m_node in bi_lines.xs(n_node).index:
        m = nodes.index(m_node)

        n_m_idx = bi_lines.index.get_loc((n_node, m_node))
        m_n_idx = bi_lines.index.get_loc((m_node, n_node))
        nm_duals = Expr.sub(etaup.index(n_m_idx), 
                            etaup.index(m_n_idx))
        nm_duals = Expr.sub(nm_duals, etadown.index(n_m_idx))
        nm_duals = Expr.add(nm_duals, etadown.index(m_n_idx))
        nm_duals = Expr.add(nm_duals, lambdaN.index(n))
        nm_duals = Expr.sub(nm_duals, lambdaN.index(m))
        dldtheta = Expr.add(
            dldtheta, 
            Expr.mul(bi_lines.loc[(n_node, m_node), 'susceptance (S)'],
                     nm_duals))
    theta_eqs.append(
        M.constraint('dldtheta%d' % n, dldtheta, Domain.equalsTo(0.)))

obj = Expr.add(Expr.dot(muD, demand['demand (MW)'].values), 
               Expr.dot(muG, supply['capacity (MW)'].values))
for n, n_node in enumerate(nodes):
    for m_node in bi_lines.xs(n_node).index:
        m = nodes.index(m_node)
        capacity = bi_lines.loc[(n_node, m_node), 'capacity (MW)']
        n_m_idx = bi_lines.index.get_loc((n_node, m_node))
        obj = Expr.add(obj, Expr.mul(capacity, 
                                     Expr.add(etaup.index(n_m_idx),
                                              etadown.index(n_m_idx))))
M.objective('obj', ObjectiveSense.Minimize, obj)
M.solve()

if M.getPrimalSolutionStatus() != SolutionStatus.Optimal or True:
    M.writeTask('proj1dual.opf')

demand['consumed (MW)'] = pd_const.dual()
supply['supplied (MW)'] = pg_const.dual()
buses = pd.DataFrame({
    'node price ($/MW)': lambdaN.level()
}, index=nodes)

In [10]:
summary = pd.concat([
    buses['node price ($/MW)'],
    demand.groupby('node')['consumed (MW)'].sum(),
    supply.groupby('node')['supplied (MW)'].sum(),
], axis=1)
summary.columns = ['price ($/MW)', 'consumed (MW)', 'supplied (MW)']
display(summary)
print(summary.to_latex())

         price ($/MW)  consumed (MW)  supplied (MW)
North    5.188947e-12        12854.2        22854.2
Central  1.184000e+01        28178.1        23178.1
South    1.132000e+01        16367.5        11367.5

\begin{tabular}{lrrr}
\toprule
{} &  price (\$/MW) &  consumed (MW) &  supplied (MW) \\
\midrule
North   &  5.188947e-12 &        12854.2 &        22854.2 \\
Central &  1.184000e+01 &        28178.1 &        23178.1 \\
South   &  1.132000e+01 &        16367.5 &        11367.5 \\
\bottomrule
\end{tabular}

In [11]:
print('Energy scheduled: {:g}'.format(demand['consumed (MW)'].sum()))
print('Objective value: {:g}'.format(M.primalObjValue()))
display(lines)
display(buses)
display(demand.sort_values('bid ($/MW)'))
display(supply.sort_values('offer ($/MW)'))

Energy scheduled: 57399.8
Objective value: 1.26764e+06

                source     dest  capacity (MW)  susceptance (S)
id
North-Central    North  Central         5000.0         100000.0
North-South      North    South         5000.0         100000.0
Central-South  Central    South         5000.0         100000.0

         node price ($/MW)
North         5.188947e-12
Central       1.184000e+01
South         1.132000e+01

                 node  demand (MW)  bid ($/MW)  consumed (MW)
id
1656072147_0    South         27.0       11.33           27.0
122073523_7   Central          3.1       11.47            0.0
122073523_6   Central          3.1       11.99            3.1
122073523_5   Central          3.1       12.51            3.1
122073523_4   Central          6.2       13.55            6.2
...               ...          ...         ...            ...
1066937520    Central         30.0       25.00           30.0
1008935089      North          1.4       25.00            1.4
122073273     Central         67.6       25.00           67.6
122073348     Central          1.8       25.00            1.8
3554572649    Central         56.3       25.00           56.3

[308 rows x 4 columns]

             node  capacity (MW)  offer ($/MW)  supplied (MW)
id
A16810      North          200.0           0.0          200.0
A6999_0     North            1.0           0.0            0.0
A6999_1     North           60.0           0.0            0.0
A7047     Central          117.3           0.0          117.3
A7049       North          160.0           0.0          160.0
...           ...            ...           ...            ...
A14896_1    North           69.0         999.0            0.0
A14517_1  Central           19.0         999.0            0.0
A12762_1    North           23.0         999.0            0.0
A6606_1     North           11.0         999.0            0.0
A15765_1  Central           32.0         999.0            0.0

[3617 rows x 4 columns]

In [12]:
print(log.getvalue())

Problem
  Name                   : dual
  Objective sense        : min
  Type                   : LO (linear optimization problem)
  Constraints            : 3928
  Cones                  : 0
  Scalar variables       : 3942
  Matrix variables       : 0
  Integer variables      : 0

Optimizer started.
Presolve started.
Linear dependency checker started.
Linear dependency checker terminated.
Eliminator started.
Freed constraints in eliminator : 0
Eliminator terminated.
Eliminator - tries                  : 1                 time                   : 0.00
Lin. dep.  - tries                  : 1                 time                   : 0.00
Lin. dep.  - number                 : 0
Presolve terminated. Time: 0.00
Problem
  Name                   : dual
  Objective sense        : min
  Type                   : LO (linear optimization problem)
  Constraints            : 3928
  Cones                  : 0
  Scalar variables       : 3942
  Matrix variables       : 0
  Integer variables      : 0

Optimizer  - threads                : 6
Optimizer  - solved problem         : the dual
Optimizer  - Constraints            : 5
Optimizer  - Cones                  : 0
Optimizer  - Scalar variables       : 3929              conic                  : 0
Optimizer  - Semi-definite variables: 0                 scalarized             : 0
Factor     - setup time             : 0.00              dense det. time        : 0.00
Factor     - ML order time          : 0.00              GP order time          : 0.00
Factor     - nonzeros before factor : 15                after factor           : 15
Factor     - dense dim.             : 0                 flops                  : 7.97e+03
ITE PFEAS    DFEAS    GFEAS    PRSTATUS   POBJ              DOBJ              MU       TIME
0   1.0e+06  5.3e+06  1.2e+08  0.00e+00   0.000000000e+00   -1.189530100e+05  1.0e+06  0.01
1   7.5e+05  4.0e+06  8.9e+07  -9.95e-01  1.558008103e+04   -1.030611265e+05  7.5e+05  0.01
2   5.5e+05  3.0e+06  6.6e+07  -9.87e-01  2.118535973e+04   -9.700948756e+04  5.6e+05  0.01
3   2.5e+05  1.3e+06  2.9e+07  -9.74e-01  4.164570750e+04   -7.382051784e+04  2.5e+05  0.01
4   1.7e+05  8.9e+05  2.0e+07  -8.99e-01  6.972446759e+04   -4.236195812e+04  1.7e+05  0.01
5   1.1e+05  5.7e+05  1.3e+07  -8.34e-01  1.336185547e+05   2.735217202e+04   1.1e+05  0.01
6   7.0e+04  3.8e+05  8.4e+06  -7.13e-01  2.202017503e+05   1.221578631e+05   7.1e+04  0.01
7   6.0e+04  3.2e+05  7.1e+06  -5.56e-01  2.638742860e+05   1.698215351e+05   6.0e+04  0.01
8   5.7e+04  3.0e+05  6.8e+06  -4.90e-01  2.785519860e+05   1.858821016e+05   5.7e+04  0.01
9   5.6e+04  3.0e+05  6.7e+06  -4.60e-01  2.832016977e+05   1.908381372e+05   5.6e+04  0.01
10  3.7e+04  1.9e+05  4.4e+06  -4.54e-01  4.190446129e+05   3.390274260e+05   3.7e+04  0.02
11  3.4e+04  1.8e+05  4.1e+06  -2.46e-01  4.426403590e+05   3.646877852e+05   3.4e+04  0.02
12  2.6e+04  1.4e+05  3.2e+06  -2.09e-01  5.362068602e+05   4.665537458e+05   2.7e+04  0.02
13  1.9e+04  1.0e+05  2.3e+06  -6.75e-02  6.599719351e+05   6.012575854e+05   1.9e+04  0.02
14  1.4e+04  7.6e+04  1.7e+06  1.10e-01   7.665913509e+05   7.172117758e+05   1.4e+04  0.02
15  9.2e+03  4.9e+04  1.1e+06  2.62e-01   9.124348954e+05   8.758696672e+05   9.2e+03  0.02
16  6.0e+03  3.2e+04  7.1e+05  4.66e-01   1.031904229e+06   1.005817170e+06   6.0e+03  0.02
17  3.7e+03  2.0e+04  4.4e+05  6.23e-01   1.131432765e+06   1.114062042e+06   3.7e+03  0.02
18  2.0e+03  1.1e+04  2.4e+05  7.56e-01   1.217807744e+06   1.207987074e+06   2.0e+03  0.02
19  9.6e+02  5.1e+03  1.1e+05  8.67e-01   1.274140252e+06   1.269230844e+06   9.6e+02  0.02
20  9.6e+02  5.1e+03  1.1e+05  2.76e-01   1.274201815e+06   1.269298097e+06   9.6e+02  0.02
21  9.6e+02  5.1e+03  1.1e+05  -5.30e-01  1.273016010e+06   1.268019128e+06   9.6e+02  0.02
22  9.4e+02  5.0e+03  1.1e+05  1.00e-01   1.269773008e+06   1.264527208e+06   9.5e+02  0.02
23  9.3e+02  5.0e+03  1.1e+05  1.73e-01   1.268422359e+06   1.263078712e+06   9.3e+02  0.02
24  9.1e+02  4.9e+03  1.1e+05  -3.72e-02  1.267792599e+06   1.262412061e+06   9.1e+02  0.02
25  8.8e+02  4.7e+03  1.0e+05  8.00e-02   1.266974726e+06   1.261549022e+06   8.8e+02  0.02
26  8.3e+02  4.5e+03  1.0e+05  -7.42e-02  1.265393216e+06   1.259870992e+06   8.4e+02  0.02
27  8.3e+02  4.4e+03  9.9e+04  -9.18e-02  1.266051047e+06   1.260590878e+06   8.3e+02  0.02
28  8.2e+02  4.4e+03  9.8e+04  5.51e-02   1.265215101e+06   1.259689015e+06   8.2e+02  0.02
29  7.7e+02  4.1e+03  9.2e+04  -1.75e-01  1.264918700e+06   1.259406224e+06   7.7e+02  0.02
30  7.6e+02  4.0e+03  9.0e+04  -2.32e-02  1.265776870e+06   1.260351060e+06   7.6e+02  0.03
31  7.0e+02  3.7e+03  8.3e+04  -1.46e-01  1.264828856e+06   1.259376490e+06   7.0e+02  0.03
32  6.4e+02  3.4e+03  7.7e+04  -2.15e-01  1.264510260e+06   1.259095102e+06   6.5e+02  0.03
33  6.4e+02  3.4e+03  7.6e+04  -2.55e-02  1.266350071e+06   1.261098622e+06   6.4e+02  0.03
34  6.2e+02  3.3e+03  7.4e+04  1.03e-01   1.265196116e+06   1.259860462e+06   6.2e+02  0.03
35  6.1e+02  3.2e+03  7.3e+04  4.49e-02   1.268202634e+06   1.263131886e+06   6.1e+02  0.03
36  5.8e+02  3.1e+03  6.9e+04  4.75e-02   1.267582945e+06   1.262483338e+06   5.8e+02  0.03
37  5.6e+02  3.0e+03  6.7e+04  -7.35e-02  1.267729318e+06   1.262658290e+06   5.6e+02  0.03
38  5.5e+02  2.9e+03  6.5e+04  -2.92e-02  1.268319439e+06   1.263325804e+06   5.5e+02  0.03
39  5.2e+02  2.8e+03  6.2e+04  -6.50e-02  1.268117561e+06   1.263122875e+06   5.2e+02  0.03
40  4.9e+02  2.6e+03  5.8e+04  -1.66e-01  1.268384259e+06   1.263466836e+06   4.9e+02  0.03
41  4.3e+02  2.3e+03  5.1e+04  -1.77e-01  1.269084985e+06   1.264328226e+06   4.3e+02  0.03
42  4.1e+02  2.2e+03  4.9e+04  7.68e-02   1.269908090e+06   1.265270416e+06   4.1e+02  0.03
43  4.0e+02  2.1e+03  4.8e+04  -1.38e-01  1.269474360e+06   1.264808487e+06   4.0e+02  0.03
44  3.8e+02  2.0e+03  4.5e+04  -1.86e-01  1.269269122e+06   1.264639996e+06   3.8e+02  0.03
45  3.3e+02  1.8e+03  4.0e+04  -2.82e-01  1.268414389e+06   1.263819673e+06   3.3e+02  0.04
46  3.1e+02  1.6e+03  3.7e+04  -2.56e-01  1.267860811e+06   1.263292119e+06   3.1e+02  0.04
47  3.0e+02  1.6e+03  3.6e+04  -3.26e-01  1.268079722e+06   1.263569462e+06   3.0e+02  0.04
48  2.8e+02  1.5e+03  3.3e+04  -4.25e-01  1.266673725e+06   1.262098291e+06   2.8e+02  0.04
49  2.1e+02  1.1e+03  2.5e+04  -5.18e-01  1.263757590e+06   1.259256541e+06   2.1e+02  0.04
50  2.1e+02  1.1e+03  2.5e+04  -5.06e-01  1.263736571e+06   1.259265256e+06   2.1e+02  0.04
51  1.7e+02  8.9e+02  2.0e+04  -5.55e-01  1.261081878e+06   1.256716087e+06   1.7e+02  0.04
52  1.6e+02  8.4e+02  1.9e+04  -2.49e-01  1.261138839e+06   1.256876021e+06   1.6e+02  0.04
53  1.5e+02  7.9e+02  1.8e+04  -1.19e-01  1.261235540e+06   1.257082290e+06   1.5e+02  0.04
54  1.4e+02  7.7e+02  1.7e+04  -3.04e-01  1.260726688e+06   1.256586686e+06   1.4e+02  0.04
55  1.4e+02  7.5e+02  1.7e+04  -1.75e-01  1.260812340e+06   1.256740928e+06   1.4e+02  0.04
56  1.4e+02  7.5e+02  1.7e+04  -1.35e-01  1.261012152e+06   1.256977468e+06   1.4e+02  0.04
57  1.3e+02  7.0e+02  1.6e+04  -1.70e-01  1.261395187e+06   1.257530417e+06   1.3e+02  0.04
58  1.1e+02  5.9e+02  1.3e+04  -1.26e-01  1.261593605e+06   1.258151374e+06   1.1e+02  0.04
59  1.0e+02  5.6e+02  1.2e+04  1.59e-01   1.261440493e+06   1.258120356e+06   1.0e+02  0.04
60  9.8e+01  5.2e+02  1.2e+04  2.60e-01   1.262006945e+06   1.258880612e+06   9.8e+01  0.04
61  9.4e+01  5.0e+02  1.1e+04  2.86e-01   1.261909093e+06   1.258864535e+06   9.4e+01  0.05
62  8.9e+01  4.7e+02  1.1e+04  3.64e-01   1.262408528e+06   1.259523354e+06   8.9e+01  0.05
63  8.4e+01  4.5e+02  1.0e+04  3.82e-01   1.262486866e+06   1.259709654e+06   8.5e+01  0.05
64  8.0e+01  4.3e+02  9.5e+03  4.48e-01   1.262847366e+06   1.260205294e+06   8.0e+01  0.05
65  7.3e+01  3.9e+02  8.7e+03  4.52e-01   1.263161306e+06   1.260714883e+06   7.3e+01  0.05
66  6.0e+01  3.2e+02  7.2e+03  5.33e-01   1.263893348e+06   1.261809565e+06   6.0e+01  0.05
67  5.3e+01  2.8e+02  6.4e+03  6.10e-01   1.264409452e+06   1.262550739e+06   5.3e+01  0.05
68  3.9e+01  2.1e+02  4.7e+03  6.67e-01   1.265236785e+06   1.263815363e+06   3.9e+01  0.05
69  3.4e+01  1.8e+02  4.0e+03  7.37e-01   1.265561630e+06   1.264331068e+06   3.4e+01  0.05
70  2.3e+01  1.2e+02  2.8e+03  8.11e-01   1.266253659e+06   1.265385594e+06   2.3e+01  0.05
71  1.6e+01  8.5e+01  1.9e+03  8.59e-01   1.266701396e+06   1.266090346e+06   1.6e+01  0.05
72  1.4e+01  7.7e+01  1.7e+03  8.83e-01   1.266779832e+06   1.266220690e+06   1.4e+01  0.05
73  1.2e+01  6.2e+01  1.4e+03  9.16e-01   1.266968637e+06   1.266519177e+06   1.2e+01  0.05
74  7.7e+00  4.1e+01  9.2e+02  9.22e-01   1.267189953e+06   1.266885817e+06   7.7e+00  0.05
75  4.6e+00  2.5e+01  5.5e+02  9.44e-01   1.267365286e+06   1.267181892e+06   4.6e+00  0.05
76  2.8e+00  1.5e+01  3.3e+02  9.70e-01   1.267475569e+06   1.267363867e+06   2.8e+00  0.05
77  2.1e+00  1.1e+01  2.5e+02  9.74e-01   1.267515196e+06   1.267431301e+06   2.1e+00  0.06
78  1.3e+00  7.0e+00  1.6e+02  9.88e-01   1.267560493e+06   1.267507522e+06   1.3e+00  0.06
79  3.8e-01  2.0e+00  4.5e+01  9.91e-01   1.267614236e+06   1.267598991e+06   3.8e-01  0.06
80  1.0e-01  5.5e-01  1.2e+01  9.97e-01   1.267629380e+06   1.267625187e+06   1.0e-01  0.06
81  9.3e-02  5.0e-01  1.1e+01  9.94e-01   1.267630424e+06   1.267626670e+06   9.3e-02  0.06
82  2.0e-02  1.1e-01  2.4e+00  1.00e+00   1.267634835e+06   1.267634022e+06   2.0e-02  0.06
83  2.0e-03  1.0e-02  2.3e-01  9.99e-01   1.267635743e+06   1.267635664e+06   2.0e-03  0.06
84  2.1e-05  1.1e-04  2.7e-03  1.00e+00   1.267635839e+06   1.267635838e+06   2.2e-05  0.06
85  2.2e-09  1.2e-08  7.0e-07  1.00e+00   1.267635840e+06   1.267635840e+06   2.2e-09  0.06
Basis identification started.
Primal basis identification phase started.
Primal basis identification phase terminated. Time: 0.00
Dual basis identification phase started.
Dual basis identification phase terminated. Time: 0.00
Basis identification terminated. Time: 0.00
Optimizer terminated. Time: 0.07


Interior-point solution summary
  Problem status  : PRIMAL_AND_DUAL_FEASIBLE
  Solution status : OPTIMAL
  Primal.  obj: 1.2676358400e+06    nrm: 1e+03    Viol.  con: 7e-10    var: 0e+00
  Dual.    obj: 1.2676358400e+06    nrm: 1e+06    Viol.  con: 0e+00    var: 1e-07

Basic solution summary
  Problem status  : PRIMAL_AND_DUAL_FEASIBLE
  Solution status : OPTIMAL
  Primal.  obj: 1.2676358400e+06    nrm: 1e+03    Viol.  con: 2e-10    var: 0e+00
  Dual.    obj: 1.2676358400e+06    nrm: 1e+06    Viol.  con: 0e+00    var: 3e-09
Open file 'proj1dual.opf'
Start writing.
done writing. Time: 0.05