In [1]:
from IPython.display import display

from io import StringIO
import itertools
from matplotlib import pyplot as plt
import numpy as np
import os
import pandas as pd

In [3]:
supply = pd.read_csv('20201007_da_co.processed.csv').set_index('id')
nsupply = len(supply)
print(supply.shape)
supply.head()

(3617, 3)

            node  capacity (MW)  offer ($/MW)
id
A3153_0    North            1.0          8.16
A3153_1    North          245.0          9.54
A3153_2    North            1.0         14.27
A3153_3    North           72.0         14.28
A3165_0  Central          180.0         10.77

In [23]:
supply['wind'] = supply['offer ($/MW)'] <= 0
supply.groupby(['node', 'wind'])['capacity (MW)'].agg([np.sum, len])

                   sum     len
node    wind
Central False  70603.4  1605.0
        True   14683.6    67.0
North   False  25164.8  1006.0
        True   27189.0   207.0
South   False  47638.0   727.0
        True     239.5     5.0

In [24]:
supply.query('`capacity (MW)` < 10').groupby(['node', 'wind'])['capacity (MW)'].agg([np.sum, len])

                  sum    len
node    wind
Central False  2675.4  635.0
        True     44.6   14.0
North   False  2220.7  562.0
        True    141.1   54.0
South   False   877.6  248.0
        True      6.0    2.0

In [ ]:
demand = pd.read_csv('20201007_bids_cb.processed.csv').set_index('id')
ndemand = len(demand)
assert demand.node.isin(nodes).all()
print(demand.shape)
demand.head()