In [1]:
from IPython.display import display

from io import StringIO
import itertools
from matplotlib import pyplot as plt
import numpy as np
import os
import pandas as pd

from mosek.fusion import Model, Domain, Expr, ObjectiveSense, SolutionStatus

In [2]:
supply = pd.read_csv('20201007_da_co.processed.csv').set_index('id')
nsupply = len(supply)
print(supply.shape)
supply.head()

(3617, 3)

            node  capacity (MW)  offer ($/MW)
id
A3153_0    North            1.0          8.16
A3153_1    North          245.0          9.54
A3153_2    North            1.0         14.27
A3153_3    North           72.0         14.28
A3165_0  Central          180.0         10.77

In [3]:
nodes = list(supply['node'].unique())
nnodes = len(nodes)
print(nodes)

['North', 'Central', 'South']

In [4]:
demand = pd.read_csv('20201007_bids_cb.processed.csv').set_index('id')
assert demand.node.isin(nodes).all()
ndemand = len(demand)
print(demand.shape)
demand.head()

(309, 3)

              node  demand (MW)  bid ($/MW)
id
122073561    North          6.0      2000.0
767746013    North         14.0      2000.0
122073033  Central       1228.0      2000.0
122073042    North       1644.0      2000.0
450523929  Central        132.4      2000.0

In [5]:
demand.groupby(demand['bid ($/MW)'] >= 2000.)['node'].count()

bid ($/MW)
False     41
True     268
Name: node, dtype: int64

In [6]:
lines = pd.DataFrame([
    ['%s-%s' % (src, dest), src, dest, 5e3, 1e5] 
    for src, dest in itertools.combinations(nodes, 2)
], columns=['id', 'source', 'dest', 'capacity (MW)', 'susceptance (S)']).set_index('id')
nlines = len(lines)
lines

                source     dest  capacity (MW)  susceptance (S)
id
North-Central    North  Central         5000.0         100000.0
North-South      North    South         5000.0         100000.0
Central-South  Central    South         5000.0         100000.0

In [7]:
rev_lines = lines.copy()
rev_lines.source = lines.dest
rev_lines.dest = lines.source
bi_lines = pd.concat([lines, rev_lines]).set_index(['source', 'dest'])
n_bi_lines = len(bi_lines)
bi_lines

                 capacity (MW)  susceptance (S)
source  dest
North   Central         5000.0         100000.0
        South           5000.0         100000.0
Central South           5000.0         100000.0
        North           5000.0         100000.0
South   North           5000.0         100000.0
        Central         5000.0         100000.0

In [8]:
pd.concat([demand.groupby('node')[['demand (MW)']].sum(),
           supply.groupby('node')[['capacity (MW)']].sum()], axis='columns')

         demand (MW)  capacity (MW)
node
Central      28181.2        85287.0
North        12854.2        52353.8
South        16425.5        47877.5

In [9]:
M = Model('dual')

log = StringIO()
M.setLogHandler(log)

muD = M.variable('muD', ndemand, Domain.greaterThan(0.))
muG = M.variable('muG', nsupply, Domain.greaterThan(0.))
etaup = M.variable('etaup', n_bi_lines, Domain.greaterThan(0.))
etadown = M.variable('etadown', n_bi_lines, Domain.greaterThan(0.))
lambdaN = M.variable('lambdaN', nnodes, Domain.unbounded())
gamma = M.variable('gamma', 1, Domain.unbounded())

demand_idx = [nodes.index(x) for x in demand.node]
dldpd = Expr.sub(muD, demand['bid ($/MW)'].values)
dldpd = Expr.add(dldpd, lambdaN.pick(demand_idx))
pd_const = M.constraint('dldpd', dldpd, Domain.greaterThan(0.))

supply_idx = [nodes.index(x) for x in supply.node]
dldpg = Expr.add(muG, supply['offer ($/MW)'].values)
dldpg = Expr.sub(dldpg, lambdaN.pick(supply_idx))
pg_const = M.constraint('dldpg', dldpg, Domain.greaterThan(0.))

theta_eqs = []
for n, n_node in enumerate(nodes):
    if n == 0:
        dldtheta = gamma
    else:
        dldtheta = Expr.zeros(1)
    for m_node in bi_lines.xs(n_node).index:
        m = nodes.index(m_node)

        n_m_idx = bi_lines.index.get_loc((n_node, m_node))
        m_n_idx = bi_lines.index.get_loc((m_node, n_node))
        nm_duals = Expr.sub(etaup.index(n_m_idx), 
                            etaup.index(m_n_idx))
        nm_duals = Expr.sub(nm_duals, etadown.index(n_m_idx))
        nm_duals = Expr.add(nm_duals, etadown.index(m_n_idx))
        nm_duals = Expr.add(nm_duals, lambdaN.index(n))
        nm_duals = Expr.sub(nm_duals, lambdaN.index(m))
        dldtheta = Expr.add(
            dldtheta, 
            Expr.mul(bi_lines.loc[(n_node, m_node), 'susceptance (S)'],
                     nm_duals))
    theta_eqs.append(
        M.constraint('dldtheta%d' % n, dldtheta, Domain.equalsTo(0.)))

obj = Expr.add(Expr.dot(muD, demand['demand (MW)'].values), 
               Expr.dot(muG, supply['capacity (MW)'].values))
for n, n_node in enumerate(nodes):
    for m_node in bi_lines.xs(n_node).index:
        m = nodes.index(m_node)
        capacity = bi_lines.loc[(n_node, m_node), 'capacity (MW)']
        n_m_idx = bi_lines.index.get_loc((n_node, m_node))
        obj = Expr.add(obj, Expr.mul(capacity, 
                                     Expr.add(etaup.index(n_m_idx),
                                              etadown.index(n_m_idx))))
M.objective('obj', ObjectiveSense.Minimize, obj)
M.solve()

if M.getPrimalSolutionStatus() != SolutionStatus.Optimal or True:
    M.writeTask('proj1dual.opf')

demand['consumed (MW)'] = pd_const.dual()
supply['supplied (MW)'] = pg_const.dual()
buses = pd.DataFrame({
    'node price ($/MW)': lambdaN.level()
}, index=nodes)

In [10]:
summary = pd.concat([
    buses['node price ($/MW)'],
    demand.groupby('node')['consumed (MW)'].sum(),
    supply.groupby('node')['supplied (MW)'].sum(),
], axis=1)
summary.columns = ['price ($/MW)', 'consumed (MW)', 'supplied (MW)']
display(summary)
print(summary.to_latex())

         price ($/MW)  consumed (MW)  supplied (MW)
North           -0.00        12854.2        22854.2
Central         11.84        28178.1        23178.1
South           11.32        16367.5        11367.5

\begin{tabular}{lrrr}
\toprule
{} &  price (\$/MW) &  consumed (MW) &  supplied (MW) \\
\midrule
North   &         -0.00 &        12854.2 &        22854.2 \\
Central &         11.84 &        28178.1 &        23178.1 \\
South   &         11.32 &        16367.5 &        11367.5 \\
\bottomrule
\end{tabular}

In [11]:
print('Energy scheduled: {:g}'.format(demand['consumed (MW)'].sum()))
print('Objective value: {:g}'.format(M.primalObjValue()))
display(buses)
display(demand.sort_values('bid ($/MW)'))
display(supply.sort_values('offer ($/MW)'))

Energy scheduled: 57399.8
Objective value: 1.13911e+08

         node price ($/MW)
North                -0.00
Central              11.84
South                11.32

                 node  demand (MW)  bid ($/MW)  consumed (MW)
id
1656071284      South         58.0        4.21            0.0
1656072147_0    South         27.0       11.33           27.0
122073523_7   Central          3.1       11.47            0.0
122073523_6   Central          3.1       11.99            3.1
122073523_5   Central          3.1       12.51            3.1
...               ...          ...         ...            ...
816860633     Central          5.0     2000.00            5.0
1601140898    Central          3.0     2000.00            3.0
1066937520    Central         30.0     2000.00           30.0
2226459481    Central         41.0     2000.00           41.0
3554572649    Central         56.3     2000.00           56.3

[309 rows x 4 columns]

             node  capacity (MW)  offer ($/MW)  supplied (MW)
id
A14605_0    North            1.0         -50.0            1.0
A6994_0     North            1.0         -50.0            1.0
A7548_0     North            1.0         -50.0            1.0
A6027_0     North            1.0         -50.0            1.0
A6999_0     North            1.0         -50.0            1.0
...           ...            ...           ...            ...
A14896_1    North           69.0         999.0            0.0
A14517_1  Central           19.0         999.0            0.0
A12762_1    North           23.0         999.0            0.0
A6606_1     North           11.0         999.0            0.0
A15765_1  Central           32.0         999.0            0.0

[3617 rows x 4 columns]

In [12]:
print(log.getvalue())

Problem
  Name                   : dual
  Objective sense        : min
  Type                   : LO (linear optimization problem)
  Constraints            : 3929
  Cones                  : 0
  Scalar variables       : 3943
  Matrix variables       : 0
  Integer variables      : 0

Optimizer started.
Presolve started.
Linear dependency checker started.
Linear dependency checker terminated.
Eliminator started.
Freed constraints in eliminator : 0
Eliminator terminated.
Eliminator - tries                  : 1                 time                   : 0.00
Lin. dep.  - tries                  : 1                 time                   : 0.00
Lin. dep.  - number                 : 0
Presolve terminated. Time: 0.01
Problem
  Name                   : dual
  Objective sense        : min
  Type                   : LO (linear optimization problem)
  Constraints            : 3929
  Cones                  : 0
  Scalar variables       : 3943
  Matrix variables       : 0
  Integer variables      : 0

Optimizer  - threads                : 6
Optimizer  - solved problem         : the dual
Optimizer  - Constraints            : 5
Optimizer  - Cones                  : 0
Optimizer  - Scalar variables       : 3930              conic                  : 0
Optimizer  - Semi-definite variables: 0                 scalarized             : 0
Factor     - setup time             : 0.00              dense det. time        : 0.00
Factor     - ML order time          : 0.00              GP order time          : 0.00
Factor     - nonzeros before factor : 15                after factor           : 15
Factor     - dense dim.             : 0                 flops                  : 7.97e+03
ITE PFEAS    DFEAS    GFEAS    PRSTATUS   POBJ              DOBJ              MU       TIME
0   2.0e+06  5.3e+06  4.2e+08  0.00e+00   0.000000000e+00   4.190081000e+05   1.0e+06  0.01
1   1.2e+06  3.1e+06  2.4e+08  -9.99e-01  1.608430564e+05   5.796246598e+05   5.8e+05  0.02
2   6.2e+05  1.7e+06  1.3e+08  -9.97e-01  5.437249719e+05   9.616319916e+05   3.1e+05  0.02
3   2.7e+05  7.3e+05  5.7e+07  -9.88e-01  1.932489125e+06   2.345596203e+06   1.4e+05  0.02
4   1.4e+05  3.8e+05  3.0e+07  -9.47e-01  5.561221755e+06   5.960888508e+06   7.2e+04  0.02
5   8.7e+04  2.3e+05  1.8e+07  -8.57e-01  1.150410663e+07   1.188181215e+07   4.3e+04  0.02
6   4.1e+04  1.1e+05  8.6e+06  -7.30e-01  2.638881185e+07   2.671164838e+07   2.0e+04  0.02
7   2.4e+04  6.3e+04  5.0e+06  -4.31e-01  4.233421736e+07   4.259825195e+07   1.2e+04  0.02
8   2.2e+04  5.8e+04  4.5e+06  -1.38e-01  4.517128756e+07   4.542486963e+07   1.1e+04  0.02
9   1.3e+04  3.3e+04  2.6e+06  -8.80e-02  6.280758474e+07   6.299614276e+07   6.3e+03  0.02
10  1.2e+04  3.1e+04  2.4e+06  2.11e-01   6.524987283e+07   6.542943166e+07   5.8e+03  0.02
11  8.1e+03  2.2e+04  1.7e+06  2.53e-01   7.574150916e+07   7.588239912e+07   4.0e+03  0.02
12  6.4e+03  1.7e+04  1.3e+06  4.26e-01   8.181687458e+07   8.193537526e+07   3.2e+03  0.02
13  3.3e+03  8.7e+03  6.9e+05  5.24e-01   9.542031078e+07   9.548867973e+07   1.6e+03  0.02
14  2.1e+03  5.7e+03  4.5e+05  7.37e-01   1.013971285e+08   1.014434716e+08   1.1e+03  0.02
15  1.6e+03  4.3e+03  3.4e+05  8.26e-01   1.043216850e+08   1.043572516e+08   8.0e+02  0.02
16  8.8e+02  2.3e+03  1.8e+05  8.70e-01   1.085082495e+08   1.085283889e+08   4.4e+02  0.03
17  7.4e+02  2.0e+03  1.6e+05  9.19e-01   1.093078685e+08   1.093250610e+08   3.7e+02  0.03
18  7.2e+02  1.9e+03  1.5e+05  -2.45e-01  1.093504463e+08   1.093674810e+08   3.6e+02  0.03
19  7.0e+02  1.9e+03  1.5e+05  8.10e-02   1.094453377e+08   1.094620216e+08   3.5e+02  0.03
20  6.9e+02  1.8e+03  1.5e+05  2.39e-01   1.093389418e+08   1.093560163e+08   3.5e+02  0.03
21  6.9e+02  1.8e+03  1.4e+05  -2.26e-01  1.094029846e+08   1.094198236e+08   3.5e+02  0.03
22  6.8e+02  1.8e+03  1.4e+05  -4.51e-01  1.093450006e+08   1.093620514e+08   3.4e+02  0.03
23  6.6e+02  1.7e+03  1.4e+05  -3.83e-01  1.093113699e+08   1.093285423e+08   3.3e+02  0.03
24  6.1e+02  1.6e+03  1.3e+05  -1.05e-01  1.092177893e+08   1.092352999e+08   3.1e+02  0.03
25  6.0e+02  1.6e+03  1.2e+05  4.39e-03   1.092515308e+08   1.092689158e+08   3.0e+02  0.03
26  5.7e+02  1.5e+03  1.2e+05  -2.05e-02  1.092254500e+08   1.092429277e+08   2.8e+02  0.03
27  4.8e+02  1.3e+03  1.0e+05  -1.19e-01  1.093231086e+08   1.093402165e+08   2.4e+02  0.03
28  4.6e+02  1.2e+03  9.7e+04  -1.41e-01  1.093861804e+08   1.094030528e+08   2.3e+02  0.03
29  4.6e+02  1.2e+03  9.6e+04  2.91e-01   1.095401205e+08   1.095564246e+08   2.3e+02  0.03
30  4.4e+02  1.2e+03  9.2e+04  4.91e-02   1.094506867e+08   1.094673187e+08   2.2e+02  0.03
31  4.2e+02  1.1e+03  8.8e+04  -1.33e-01  1.094739399e+08   1.094904837e+08   2.1e+02  0.03
32  4.1e+02  1.1e+03  8.6e+04  -7.22e-02  1.095347647e+08   1.095510827e+08   2.0e+02  0.03
33  3.8e+02  1.0e+03  7.9e+04  -9.37e-02  1.096546713e+08   1.096705421e+08   1.9e+02  0.03
34  3.5e+02  9.3e+02  7.3e+04  -1.27e-01  1.096408711e+08   1.096567891e+08   1.8e+02  0.03
35  2.9e+02  7.7e+02  6.1e+04  -2.57e-01  1.097349622e+08   1.097505200e+08   1.5e+02  0.03
36  2.8e+02  7.4e+02  5.8e+04  -2.43e-01  1.097569466e+08   1.097724200e+08   1.4e+02  0.03
37  2.4e+02  6.4e+02  5.1e+04  -2.77e-01  1.099517521e+08   1.099664942e+08   1.2e+02  0.03
38  2.3e+02  6.1e+02  4.8e+04  -1.40e-01  1.100021758e+08   1.100167278e+08   1.2e+02  0.03
39  2.2e+02  5.9e+02  4.6e+04  -4.61e-02  1.101220220e+08   1.101361274e+08   1.1e+02  0.03
40  1.9e+02  5.1e+02  4.0e+04  -3.88e-02  1.103944725e+08   1.104075596e+08   9.6e+01  0.04
41  1.4e+02  3.8e+02  3.0e+04  2.00e-01   1.112274465e+08   1.112374325e+08   7.1e+01  0.04
42  1.2e+02  3.3e+02  2.6e+04  5.10e-01   1.115303922e+08   1.115392502e+08   6.1e+01  0.04
43  1.0e+02  2.7e+02  2.1e+04  5.92e-01   1.119215691e+08   1.119289719e+08   5.0e+01  0.04
44  8.4e+01  2.2e+02  1.8e+04  6.86e-01   1.122078408e+08   1.122141787e+08   4.2e+01  0.04
45  7.2e+01  1.9e+02  1.5e+04  7.15e-01   1.124282270e+08   1.124337447e+08   3.6e+01  0.04
46  5.5e+01  1.5e+02  1.1e+04  7.66e-01   1.127551148e+08   1.127594162e+08   2.7e+01  0.04
47  4.2e+01  1.1e+02  8.8e+03  8.18e-01   1.130096345e+08   1.130129889e+08   2.1e+01  0.04
48  3.3e+01  8.8e+01  7.0e+03  8.63e-01   1.131890814e+08   1.131917681e+08   1.7e+01  0.04
49  3.0e+01  8.1e+01  6.3e+03  8.76e-01   1.132486284e+08   1.132510935e+08   1.5e+01  0.04
50  2.3e+01  6.0e+01  4.8e+03  9.08e-01   1.134112660e+08   1.134131258e+08   1.1e+01  0.04
51  1.8e+01  4.8e+01  3.8e+03  9.26e-01   1.135124191e+08   1.135139024e+08   9.0e+00  0.04
52  1.5e+01  3.9e+01  3.1e+03  9.40e-01   1.135825476e+08   1.135837699e+08   7.4e+00  0.04
53  1.2e+01  3.1e+01  2.4e+03  9.47e-01   1.136512917e+08   1.136522581e+08   5.8e+00  0.04
54  9.2e+00  2.4e+01  1.9e+03  9.52e-01   1.137033529e+08   1.137041256e+08   4.6e+00  0.04
55  5.9e+00  1.6e+01  1.2e+03  9.73e-01   1.137781993e+08   1.137786934e+08   2.9e+00  0.04
56  4.0e+00  1.1e+01  8.4e+02  9.77e-01   1.138192694e+08   1.138196105e+08   2.0e+00  0.04
57  3.4e+00  9.1e+00  7.2e+02  9.74e-01   1.138329404e+08   1.138332308e+08   1.7e+00  0.04
58  3.2e+00  8.4e+00  6.6e+02  9.83e-01   1.138387170e+08   1.138389860e+08   1.6e+00  0.04
59  1.2e+00  3.2e+00  2.5e+02  9.86e-01   1.138835748e+08   1.138836775e+08   6.0e-01  0.04
60  2.5e-01  6.7e-01  5.2e+01  9.96e-01   1.139051584e+08   1.139051796e+08   1.3e-01  0.04
61  2.1e-01  5.7e-01  4.4e+01  9.86e-01   1.139059804e+08   1.139059984e+08   1.1e-01  0.05
62  1.7e-02  4.6e-02  3.5e+00  9.99e-01   1.139105101e+08   1.139105115e+08   8.6e-03  0.05
63  1.9e-03  5.1e-03  2.9e-01  9.99e-01   1.139108602e+08   1.139108603e+08   9.5e-04  0.05
64  1.9e-05  5.0e-05  2.9e-03  1.00e+00   1.139109033e+08   1.139109033e+08   9.4e-06  0.05
65  1.9e-05  5.0e-05  2.9e-03  1.59e+00   1.139109033e+08   1.139109033e+08   9.4e-06  0.05
66  1.9e-05  5.0e-05  2.9e-03  1.67e+00   1.139109033e+08   1.139109033e+08   9.4e-06  0.05
Basis identification started.
Primal basis identification phase started.
Primal basis identification phase terminated. Time: 0.00
Dual basis identification phase started.
Dual basis identification phase terminated. Time: 0.00
Basis identification terminated. Time: 0.00
Optimizer terminated. Time: 0.05


Interior-point solution summary
  Problem status  : PRIMAL_AND_DUAL_FEASIBLE
  Solution status : OPTIMAL
  Primal.  obj: 1.1391090334e+08    nrm: 2e+03    Viol.  con: 8e-06    var: 0e+00
  Dual.    obj: 1.1391090334e+08    nrm: 1e+08    Viol.  con: 0e+00    var: 7e-04

Basic solution summary
  Problem status  : PRIMAL_AND_DUAL_FEASIBLE
  Solution status : OPTIMAL
  Primal.  obj: 1.1391090377e+08    nrm: 2e+03    Viol.  con: 8e-14    var: 0e+00
  Dual.    obj: 1.1391090377e+08    nrm: 1e+08    Viol.  con: 0e+00    var: 7e-08
Open file 'proj1dual.opf'
Start writing.
done writing. Time: 0.04